Introduction

        This is a project that defines company-wide checkstyle and PMD rules. 

        These rules are made available to applications through a
        dependency on the basis-parent project.

